.axis {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 100;
}

.smoothline {
  fill: none;
  stroke: $mainBlue;
  stroke-width: 3px;
}

.area {
  fill: lighten($accentBlue, 30%);
  opacity: 0.5;
}

.domain {
  display: none;
}

.tick line {
  stroke: $otherGrey;
}

.tick text {
  fill: #808080;
}
