// main colors
$mainGrey: #F8F9FB;
$mainBlue: #060c36;

// accent colors
$accentBlue: #00ABEB;
$accentGreen: #27C86A;
$accentYellow: #F2C610;
$accentRed: #F12D4B;

// other colors
$otherDarkBlue: #5C637A;
$otherBlue: #B2C9D6;
$otherGrey: #E9EAEC;
