<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <link rel="manifest" href="/manifest.json">
</head>
<body>

<nav>
    <a href="#advice"><img src="/images/msg.svg"/></a>
    <a href="#generators"><img src="/images/power.svg"/></a>
    <a href="#history"><img src="/images/history.svg"/></a>
</nav>

<main>
  <section id="advice">
  <h1>Berichten</h1>
      <div>
        <!-- Incoming messages here -->
      </div>
  </section>

  <section id="generators">
    <article>
      <span>
        <h1>Generator 1</h1>
      </span>

      <div>
        <h2>65%</h2>
        <p>woieruweorwoieruweorwoieruweorwoieruweorwoieruweorwoieruweor</p>
      </div>
      <svg id="chart"></svg>

    </article>

    <article>
      <span>
        <h1>Generator 2</h1>
      </span>

      <div>
        <h2>22%</h2>
        <p>woieruweorwoieruweorwoieruweorwoieruweorwoieruweorwoieruweor</p>
      </div>
    </article>

    <article>
      <span>
        <h1>Generator 3</h1>
      </span>

      <div>
        <h2>0%</h2>
        <p>woieruweorwoieruweorwoieruweorwoieruweorwoieruweorwoieruweor</p>
      </div>
    </article>

  </section>
</main>

<section id="history" class="hide">
  <h1>Geschiedenis</h1>
  <div>
    <!-- Old messages here -->
  </div>
</section>

<audio id="audio" src="mp3/tycoon.mp3"></audio>

<script src="/js/index.js"></script>
</body>
</html>
