<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <link rel="manifest" href="/manifest.json">
</head>
<body>

<nav>
    <a href="#advice"><img src="/images/msg.svg"/></a>
    <a href="#generators"><img src="/images/power.svg"/></a>
    <a href="#history"><img src="/images/history.svg"/></a>
</nav>

<main>
  <section id="advice">
    <h1>Berichten</h1>
    <div>
        <!-- Incoming messages here -->
    </div>
  </section>

  <section id="generators">
    <article>
      <span>
        <h1>Generator 1</h1>
      </span>

      <svg id="chart"></svg>

    </article>

    <article>
      <span>
        <h1>Generator 2</h1>
      </span>

      <svg class="static" id="chart" width="320" height="350"><g transform="translate(20, 20)"><g class="x axis" transform="translate(0, 300)" fill="none" font-size="10" font-family="sans-serif" text-anchor="middle"><path class="domain" stroke="#000" d="M0.5,6V0.5H282.5V6"></path><g class="tick" opacity="1" transform="translate(9.4,0)"><line stroke="#000" y2="6" x1="0.5" x2="0.5"></line><text fill="#000" y="9" x="0.5" dy="0.71em">06:30</text></g><g class="tick" opacity="1" transform="translate(56.400000000000006,0)"><line stroke="#000" y2="6" x1="0.5" x2="0.5"></line><text fill="#000" y="9" x="0.5" dy="0.71em">06:35</text></g><g class="tick" opacity="1" transform="translate(103.39999999999999,0)"><line stroke="#000" y2="6" x1="0.5" x2="0.5"></line><text fill="#000" y="9" x="0.5" dy="0.71em">06:40</text></g><g class="tick" opacity="1" transform="translate(150.4,0)"><line stroke="#000" y2="6" x1="0.5" x2="0.5"></line><text fill="#000" y="9" x="0.5" dy="0.71em">06:45</text></g><g class="tick" opacity="1" transform="translate(197.39999999999998,0)"><line stroke="#000" y2="6" x1="0.5" x2="0.5"></line><text fill="#000" y="9" x="0.5" dy="0.71em">06:50</text></g><g class="tick" opacity="1" transform="translate(244.4,0)"><line stroke="#000" y2="6" x1="0.5" x2="0.5"></line><text fill="#000" y="9" x="0.5" dy="0.71em">06:55</text></g></g><g class="y axis" transform="translate(250, 0)" fill="none" font-size="10" font-family="sans-serif" text-anchor="start"><path class="domain" stroke="#000" d="M-282,300.5H0.5V0.5H-282"></path><g class="tick" opacity="1" transform="translate(0,300)"><line stroke="#000" x2="-282" y1="0.5" y2="0.5"></line><text fill="#000" x="3" y="0.5" dy="0.32em">0K</text></g><g class="tick" opacity="1" transform="translate(0,275)"><line stroke="#000" x2="-282" y1="0.5" y2="0.5"></line><text fill="#000" x="3" y="0.5" dy="0.32em">10K</text></g><g class="tick" opacity="1" transform="translate(0,250)"><line stroke="#000" x2="-282" y1="0.5" y2="0.5"></line><text fill="#000" x="3" y="0.5" dy="0.32em">20K</text></g><g class="tick" opacity="1" transform="translate(0,225)"><line stroke="#000" x2="-282" y1="0.5" y2="0.5"></line><text fill="#000" x="3" y="0.5" dy="0.32em">30K</text></g><g class="tick" opacity="1" transform="translate(0,200)"><line stroke="#000" x2="-282" y1="0.5" y2="0.5"></line><text fill="#000" x="3" y="0.5" dy="0.32em">40K</text></g><g class="tick" opacity="1" transform="translate(0,175)"><line stroke="#000" x2="-282" y1="0.5" y2="0.5"></line><text fill="#000" x="3" y="0.5" dy="0.32em">50K</text></g><g class="tick" opacity="1" transform="translate(0,150)"><line stroke="#000" x2="-282" y1="0.5" y2="0.5"></line><text fill="#000" x="3" y="0.5" dy="0.32em">60K</text></g><g class="tick" opacity="1" transform="translate(0,125)"><line stroke="#000" x2="-282" y1="0.5" y2="0.5"></line><text fill="#000" x="3" y="0.5" dy="0.32em">70K</text></g><g class="tick" opacity="1" transform="translate(0,100)"><line stroke="#000" x2="-282" y1="0.5" y2="0.5"></line><text fill="#000" x="3" y="0.5" dy="0.32em">80K</text></g><g class="tick" opacity="1" transform="translate(0,75)"><line stroke="#000" x2="-282" y1="0.5" y2="0.5"></line><text fill="#000" x="3" y="0.5" dy="0.32em">90K</text></g><g class="tick" opacity="1" transform="translate(0,50)"><line stroke="#000" x2="-282" y1="0.5" y2="0.5"></line><text fill="#000" x="3" y="0.5" dy="0.32em">100K</text></g><g class="tick" opacity="1" transform="translate(0,25)"><line stroke="#000" x2="-282" y1="0.5" y2="0.5"></line><text fill="#000" x="3" y="0.5" dy="0.32em">110K</text></g><g class="tick" opacity="1" transform="translate(0,0)"><line stroke="#000" x2="-282" y1="0.5" y2="0.5"></line><text fill="#000" x="3" y="0.5" dy="0.32em">120K</text></g></g><g transform="translate(242.6)"><path class="area" d="M-272.6,151.76379999999997L-263.2,149.486075L-253.8,158.15815L-244.4,160.80915000000002L-235,159.6333L-225.60000000000002,158.696975L-216.20000000000002,145.49745000000001L-206.79999999999998,131.49165L-197.39999999999998,134.00509999999997L-188,136.87875L-178.6,81.876575L-169.2,116.17237499999999L-159.79999999999998,120.49312499999999L-150.4,122.26117499999998L-141,124.11250000000001L-131.6,123.38319999999999L-122.2,126.68179999999998L-112.80000000000001,126.74085L-103.39999999999999,132.91465L-94,134.4923L-84.6,134.16005L-75.2,134.761L-65.8,135.65290000000002L-56.400000000000006,141.47507499999998L-47,138.4454L-37.6,99.93477500000003L-28.200000000000003,125.97494999999998L-18.8,153.440225L-9.4,151.833875L0,149.168275L9.4,153.09562499999998L9.4,170.5625L0,158.353575L-9.4,162.31932500000002L-18.8,161.379325L-28.200000000000003,162.202575L-37.6,145.31967500000002L-47,148.070425L-56.400000000000006,149.760225L-65.8,149.81504999999999L-75.2,141.38275L-84.6,142.873175L-94,141.38015000000001L-103.39999999999999,146.588225L-112.80000000000001,147.8658L-122.2,134.79070000000002L-131.6,132.57472499999997L-141,131.55595L-150.4,130.49212500000002L-159.79999999999998,128.784225L-169.2,131.52464999999998L-178.6,139.781325L-188,143.41565000000003L-197.39999999999998,148.4223L-206.79999999999998,172.72305L-216.20000000000002,166.355725L-225.60000000000002,167.173075L-235,166.70265L-244.4,168.66727500000002L-253.8,166.553775L-263.2,163.63485L-272.6,158.97377500000002Z"></path></g><g transform="translate(242.6)"><path class="smoothline" d="M-272.6,155.4758225L-263.2,155.12391L-253.8,163.04750249999998L-244.4,164.28243L-235,163.0710125L-225.60000000000002,162.58579999999998L-216.20000000000002,161.72834L-206.79999999999998,160.34765L-197.39999999999998,141.66885L-188,139.253045L-178.6,128.93397L-169.2,124.8948225L-159.79999999999998,125.25537L-150.4,126.15361499999997L-141,127.1851475L-131.6,127.85705999999999L-122.2,129.894435L-112.80000000000001,137.1144825L-103.39999999999999,138.6161925L-94,138.35163500000002L-84.6,138.660405L-75.2,137.90459249999998L-65.8,145.14517L-56.400000000000006,145.67346750000002L-47,143.2649275L-37.6,141.461565L-28.200000000000003,149.1827325L-18.8,157.600525L-9.4,156.1978L0,152.3312425L9.4,156.49803500000002"></path></g></g></svg>
    </article>
  </section>
</main>

<section id="history" class="hide">
  <h1>Geschiedenis</h1>
  <div>
    <!-- Old messages here -->
  </div>
</section>

<audio id="audio" src="mp3/tycoon.mp3"></audio>

<script src="/js/index.js"></script>
</body>
</html>
