<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

<nav>
    <a href="#advice"><img src="/images/msg.svg"/></a>
    <a href="#generators"><img src="/images/power.svg"/></a>
    <a href="#history"><img src="/images/history.svg"/></a>
</nav>

<main>
  <section id="advice">
  <h1>Berichten</h1>
    <div>
      <article>
        <details>
          <summary>Wat gebeurt er?<span id="1" class="new"></span></summary>
          <div>
            <h2>67%</h2>
            <p>Tijd om een andere generator aan te zetten</p>
          </div>
        </details>
      </article>

      <article>
        <details>
          <summary>Benzine stinkt<span id="2" class="new"></span></summary>
          <div>
            <h2>whatsup bruh</h2>
            <p>woieruweorwoieruweorwoieruweorwoieruweorwoieruweorwoieruweor</p>
          </div>
        </details>
      </article>

      <article>
        <details>
          <summary>jQuery werkt niet<span id="3" class="new"></span></summary>
          <div>
            <h2>whatsup bruh</h2>
            <p>woieruweorwoieruweorwoieruweorwoieruweorwoieruweorwoieruweor</p>
          </div>
        </details>
      </article>

      <article>
        <details>
          <summary>What is love<span id="4" class="new"></span></summary>
          <div>
            <h2>whatsup bruh</h2>
            <p>woieruweorwoieruweorwoieruweorwoieruweorwoieruweorwoieruweor</p>
          </div>
        </details>
      </article>
    </section>

    <section id="generators">
      <article>
        <span>
          <h1>Generator 1</h1>
        </span>

        <div>
          <h2>65%</h2>
          <p>woieruweorwoieruweorwoieruweorwoieruweorwoieruweorwoieruweor</p>
        </div>
      </article>

      <article>
        <span>
          <h1>Generator 2</h1>
        </span>

        <div>
          <h2>22%</h2>
          <p>woieruweorwoieruweorwoieruweorwoieruweorwoieruweorwoieruweor</p>
        </div>
      </article>

      <article>
        <span>
          <h1>Generator 3</h1>
        </span>

        <div>
          <h2>0%</h2>
          <p>woieruweorwoieruweorwoieruweorwoieruweorwoieruweorwoieruweor</p>
        </div>
      </article>
    </div>
  </section>
</main>

<section id="history" class="hide">
  <h1>Geschiedenis</h1>
  <div>
    <!-- Old messages here -->
  </div>
</section>

<audio id="audio" src="mp3/tycoon.mp3"></audio>

<script src="/js/index.js"></script>
</body>
</html>
