<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

<section id="advice">

</section>

<section id="generators">
  <article>
    <span>
      <h1>Generator 1</h1>
    </span>

    <div>
      <h2>65%</h2>
      <p>woieruweorwoieruweorwoieruweorwoieruweorwoieruweorwoieruweor</p>
    </div>
  </article>

  <article>
    <span>
      <h1>Generator 2</h1>
    </span>

    <div>
      <h2>22%</h2>
      <p>woieruweorwoieruweorwoieruweorwoieruweorwoieruweorwoieruweor</p>
    </div>
  </article>

  <article>
    <span>
      <h1>Generator 2</h1>
    </span>

    <div>
      <h2>0%</h2>
      <p>woieruweorwoieruweorwoieruweorwoieruweorwoieruweorwoieruweor</p>
    </div>
  </article>
</section>

<div id="graph">

</div>

</body>
</html>
